code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*, html, body, a, p, input, span, ul, li, br, nav {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.letter-spacing {
  letter-spacing: 10px;
}

.tag {
  padding: 5px 10px;
  font-size: small;
}

.tabs {
  color: white;
  background-color: #212529;
}

.tabs li {
  width: 50%;
  text-align: center;
}

.tabs a {
  color: white;
  background-color: #212529;
}

.tabs a:hover {
  cursor: pointer;
  color: white;
  background-color: #212529;
}



